<div class="contentbg">
    <div class="blkCont">
        <h2 class="h2">
            Now select how you <br /> would like to build it.
        </h2>
        <!--<p>Lorem ipsum dolor sit amet, cu mel velit minim.</p>
        <p>Usu paulo corpora accusamus eu, legere.</p>-->

    </div>
    <div class="blkCont topHighLight">
        <h2 class="h2">
            Start from:
        </h2>
        <a (click)="goToForms()" class="btn btn-outline-primary px-0">SCRATCH</a><br>
        <a routerLink="/templates" class="btn btn-outline-primary px-0">TEMPLATES</a><br />
        <a routerLink="/library" class="btn btn-outline-primary px-0 primaryBorder">GO TO <span>LIBRARY</span></a><br>
        <a routerLink="/customfields" class="btn btn-outline-primary px-0 primaryBorder">GO TO <span>CUSTOM FIELDS</span></a>
        <a routerLink="/product-builder" class="btn btn-outline-primary px-0 primaryBorder">PRODUCT BUILDER</a>
        <a routerLink="/cart-builder" class="btn btn-outline-primary px-0 primaryBorder">CART BUILDER</a>
    </div>
</div>
<div class="rightlapHome">
    <img src="assets/images/laptop.png" />
</div>